@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
i {
  color: black;
}
img {
  width: 30%;
}
