i,
a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}

/* header incl nav */
header {
  background-color: #202020;
}
nav {
  /* border: 2px dashed salmon; */
  padding: 0.8% 1%;
  &:nth-child(2) {
    border: orange 2px dashed;
    align-content: center;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  border: 2px dashed darkslategray;
  margin-right: 2%;
}
nav div {
  border: 2px dashed hotpink;
  width: 100%;
  list-style: none;
  display: flex;
  justify-self: space-around;
  position: relative;
  &:nth-child(1) {
    border: lightcoral 2px dashed;
  }
  &:nth-child(2) {
    border: orange 2px dashed;
    align-items: center;
  }
}
nav div:nth-child(1) li {
  //   border: 2px dashed yellowgreen;
}
nav div:nth-child(2) li {
  //   border: 2px dashed seagreen;
}
nav div:nth-child(3) li {
  //   border: 2px dashed khaki;
}

nav div li i {
}
nav div li a {
}
.logo {
  color: red;
}
li input {
  background-color: #181818;
  //   border: 0.5px solid #909090;
}

/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch */
.switch {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: whitesmoke;
  transition: 0.2s;
  border-radius: 3rem;
}

.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  bottom: 0.35rem;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: salmon;
}

input:checked + .slider::before {
  transform: translateX(1.5rem);
}
label {
  color: whitesmoke;
}
