* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto light";
}
/* general stuff */
body {
  background-color: #0f0f0f;
}
i,
a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  position: relative;
}

/* header incl nav */
header {
  background-color: #202020;
}
nav {
  /* border: 2px dashed salmon; */
  padding: 0.8% 1%;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  border: 2px dashed darkslategray;
  margin-right: 2%;
}
nav div {
  /* border: 2px dashed hotpink; */
  width: 100%;
  list-style: none;
  display: flex;
  justify-self: space-around;
  position: relative;
}
nav div:nth-child(1) li {
  /* border: 2px dashed yellowgreen; */
}
nav div:nth-child(2) li {
  /* border: 2px dashed seagreen; */
}
nav div:nth-child(3) li {
  border: 2px dashed khaki;
}

nav div li i {
}
nav div li a {
}
.logo {
  color: red;
}
li input {
  background-color: #181818;
  border: 0.5px solid #909090;
}
