@import "./fontAwesome/fontawesome-free-5.15.2-web/css/all.css";
@font-face {
  font-family: "Roboto thin";
  src: url("../../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto light";
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto regular";
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto medium";
  src: url("../../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto bold";
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto black";
  src: url("../../fonts/Roboto-Black.ttf");
}
i,
a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}

/* header incl nav */
header {
  background-color: #202020;
}

nav {
  /* border: 2px dashed salmon; */
  padding: 0.8% 1%;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul:nth-child(1) {
  align-content: center;
  justify-content: center;
  border: coral 2px solid;
}

nav li {
  border: 2px dashed darkslategray;
  margin-right: 2%;
}

nav div {
  border: 2px dashed hotpink;
  width: 100%;
  list-style: none;
  display: flex;
  justify-self: space-around;
  position: relative;
}
nav div:nth-child(1) {
  border: lightcoral 2px dashed;
}
nav div:nth-child(2) {
  border: orange 2px dashed;
  align-items: center;
}

.logo {
  color: red;
}

li input {
  background-color: #181818;
}

/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch */
.switch {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: whitesmoke;
  transition: 0.2s;
  border-radius: 3rem;
}

.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  bottom: 0.35rem;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: salmon;
}

input:checked + .slider::before {
  transform: translateX(1.5rem);
}

label {
  color: whitesmoke;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto light";
}

/* general stuff */
body {
  background-color: #0f0f0f;
}

section {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.sideMenu {
  padding-left: 1%;
  padding-right: 1%;
  background-color: #212121;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-evenly;
  float: left;
}

.sideMenu div {
  /* border: 2px dashed olivedrab; */
  padding-bottom: 8%;
  margin-bottom: 8%;
  border-bottom: 0.1px solid #909090;
}

.sideMenu :first-child {
  padding-top: 3%;
}

.sideMenu p {
  text-transform: uppercase;
  font-family: "Roboto medium";
  color: #909090;
  margin-bottom: 8%;
}

.sideMenu li {
  list-style: none;
  margin-bottom: 8%;
}

.sideMenu i {
  color: #909090;
  margin-right: 10%;
  font-size: 0.9rem;
}

.sideMenu a {
  font-size: 0.9rem;
}

.wrongTurn {
  margin: auto;
  width: 65vw;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrongTurn .wrong i {
  font-size: 28pt;
  padding: 2vh 0.5vh 2vh 0.5vh;
  color: lightcoral;
}
.wrongTurn .wrong p {
  color: whitesmoke;
  align-content: center;
  text-align: center;
}
.wrongTurn .wrong button {
  background-color: lightcoral;
  border: none;
  border-radius: 3px;
  padding: 1vh;
  margin-top: 2vh;
  color: rebeccapurple;
}

/*# sourceMappingURL=main.css.map */
